#bag {
    width : 200px;
    height: 500px;
    margin: 0 auto;
    background-size : 80%;
}
.bag{
    background:url(image/bag.png) center no-repeat;
}
.bag-burst{
    background:url(image/bag-burst.png) center no-repeat;
}
#bag-health {
    width : 200px;
    border : 2px #000 solid ;
    margin: 0 auto 20px auto;
}
#bag-health div {
    height : 20px;
    background : crimson;
}
#controls {
width : 250px;
margin: 0 auto;
}
#controls button {
    width : 100px;
    height : 30px;
    margin-left : 20px;
    border : 0;
    border-radius : 5px;
    background-color:lightblue;
    cursor:pointer;
}
